@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 271 71% 46%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 271 71% 46%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.container-xl {
	@apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}

.slick-dots {
	@apply !bottom-0;
}

.slick-next {
	@apply !right-[-5px];
}

.slick-prev {
	@apply !left-[-5px];
}

.slick-slide-item {
	@apply py-4;
}

.slick-slide-item.slide-active {
	@apply border-b dark:!border-gray-200 border-gray-900;
}

li.slick-active div {
	@apply dark:!bg-white !bg-black;
}

.slick-dots li {
	@apply !m-0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin-top: 4px;
	margin-bottom: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.5);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(85, 85, 85, 0.7);
}

/* Untuk mode gelap */
@media (prefers-color-scheme: dark) {
	::-webkit-scrollbar-track {
		background: transparent;
		margin-top: 56px;
		margin-bottom: 40px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(237, 237, 237, 0.5);
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(169, 169, 169, 0.7);
	}
}

.scrollbar-hide {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
	display: none;  /* Chrome, Safari and Opera */
  }