@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.slick-dots {
	bottom: 0px !important;
}

.slick-next {
	right: -5px !important;
}

.slick-prev {
	left: -5px !important;
}

.slick-slide-item {
	@apply border-b border-gray-500 py-4;
}

.slick-slide-item.slide-active {
	@apply border-b !border-gray-200;
}
